.available-shifts .header {
  color: #a4b8d3;
  padding: 15px;
  font-size: 22px;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.available-shifts .shift .table-header {
  border-top: 1px solid #cbd2e1;
}

.header .city {
  cursor: pointer;
}

.header .city.active {
  color: #004fb4;
}
