.shift-app {
  min-height: 100%;
  margin: 20px;
  z-index: 1;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 10px 15px;
  font-size: 24px;
  font-weight: 500;
}

nav ul li:not(:first-child) {
  margin-left: 25px;
}

a {
  color: #a4b8d3;
}

a.active {
  color: #004fb4;
}

a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 576px) {
  .header .city {
    text-align: center;
    line-height: 1;
  }
}

@media only screen and (min-width: 768px) {
  .shift-app {
    width: 740px;
    margin: auto;
    padding: 40px 0;
  }
}
