body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root,
body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
}

#root {
  background: #f7f8fb;
}

.btn {
  cursor: pointer;
  border-radius: 25px;
  padding: 5px 15px;
}

.btn:disabled {
  cursor: not-allowed;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn-outline-success {
  color: #16a64d;
  border-color: #16a64d;
}

.my-shifts,
.available-shifts {
  border: 1px solid #cbd2e1;
  border-radius: 10px;
  box-shadow: 0 0 0 0.2rem #f1f4f8;
}

.my-shifts .shift:last-child .table-cell,
.available-shifts .shift:last-child .table-cell {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
